<head>
  <link rel="stylesheet" href="/css/games.css" />
</head>

<div class="Header-Container">
  <h1>Game Selection</h1>
  <span>from Tulip air</span>
</div>

<div class="Games-Container">
  <div class="game-item">
    <a href="/entertainment/games/memory">
      <img src="/images/games/memory.jpg"
    /></a>
  </div>
  <div class="game-item">
    <a href="/entertainment/games/TicTacToe">
      <img src="/images/games/tictactoe.jpg"
    /></a>
  </div>
  <div class="game-item">
    <a href="/entertainment/games/breakout/menu"
      ><img src="/images/games/breakout.png"
    /></a>
  </div>
  <div class="game-item">
    <a href="/entertainment/games/phrasehunter">
      <img src="/images/games/phrasehunter/phrase-hunter.png"
    /></a>
  </div>
  <div class="game-item">
    <a href="/entertainment/games/snake">
      <img src="/images/games/snake.png"
    /></a>
  </div>
</div>
