.DestinationInfo-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.DestinationInfo-Cards-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: #ffffff 3px solid;
    backdrop-filter: blur(80px);
    margin-inline-end: 100px;
    margin-inline-start: 100px;
}

.Card-Column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-inline-end: 100px;
    margin-inline-start: 100px;
}

.DestinationInfo-Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
}

.backgroundcontainer {
    display: flex;
    width: 1500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #E8E7E6;
    position: center;
    margin: 100px;
    flex-wrap: nowrap;
    flex-flow: row wrap;

}

.backgroundcontainer >div {
    flex-basis: 25%;
}

.destinfo{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    align-content: stretch;
}
