.Order-Title-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.order-container {
    width: 100%;
}

.card {
    margin: auto;
    width: 50%;
    border-radius: 20px;
    height: 100%;
    padding: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .card {
        width: 80%;
    }
}

@media (height: 1366px) {
    .card {
        width: 75%;
    }
}

#orderno {
    font-size: smaller;
}

.main {
    width: 100%;
}

.row {
    margin: 0 !important;
}

.Order-Container {
    width: 100%;
    margin-bottom: 15px;
}
